.modal-title {
  font-weight: 500;
}
.login-button-row {
  padding: 10px 0px;
  .login-button {
    width: 100%;
    text-transform: none;
    font-size: 16px;
  }
}
.already-account {
  border-top: 1px solid #eee;
  text-align: center;
  width: 100%;
  padding-top: 12px;
}
.login-social {
  padding: 15px 0px;
}
